@{
    ViewData["Title"] = "Home Page";
}
<script src="https://use.fontawesome.com/8ac31f173a.js"></script>
<style>
    body{
        
        
    }
    span.glyphicon-link {
        font-size: 1.8em;
    }
    div h3 {
        text-align: center;
    }
    h3 + p {
        text-align: center;
    }
    h3{
        text-align:center;
    }
    div 
</style>


    <div id="section1" class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <img src="~/images/Product.png" class="fa fa-leaf col-lg-offset-5" style="height:50px;text-align:center;font-size:48px;color:rgb(90,150,10)"></img>

                <h3>Our products</h3>
                    <p>We have a line of cleanning products and acessories that are better, greener and cheaper </p>
                <ul style="text-align:center;list-style:none">
                </ul>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <i class="fa fa-leaf col-lg-offset-5" style="text-align:center;font-size:48px;color:rgb(90,150,10)"></i>
                <h3>Solutions</h3>
                <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <i class="fa fa-users col-lg-offset-5" style="text-align:center;font-size:48px;color:rgb(90,150,10)"></i>
                    <h3>Case Studies</h3>
                    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
</div>
        </div>
        
    </div>
    <div id="section2" class="container-fluid">
        <h1>Solutions</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    </div>
    <div id="section3" class="container-fluid">
        <h1>Case Studies</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    </div>
@if(User.Identity.IsAuthenticated){ 
    <div id="section41" class="container-fluid">
        <h1>Section 4 Submenu 1</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    </div>
    <div id="section42" class="container-fluid">
        <h1>Section 4 Submenu 2</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
    </div>

}
